{% with id=widget.attrs.id %}
    <div {% if id %}id="{{ id }}"{% endif %}{% if widget.attrs.class %}class="{{ widget.attrs.class }}"{% endif %}>
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                <lable {% if option.attrs.id %} for="{{ option.attrs.id }}"{% endif %}>
                    {% include option.template_name with widget=option %}
                </lable>
            {% endfor %}
        {% endfor %}
    </div>
{% endwith %}
