<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <style>
        .account{
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="account">
        <h3 style="text-align: center">注册</h3>
        <form>
            {% for registerinfo in form %}
                {% if registerinfo.name == 'vail_code' %}
                    <div class="form-group">
                        <label for={{ registerinfo.id_for_label }}>{{ registerinfo.label }}</label>
                            <div class="clearfix">
                                <div class="col-md-6" style="padding-left: 0">{{ registerinfo }}</div>
                                <div class="col-md-6" style="padding-left: 0"><input type="button" class="btn btn-default" value="点击获取验证码"></div>
                            </div>
                    </div>
                {% else %}
                    <div class="form-group">
                    <label for={{ registerinfo.id_for_label }}>{{ registerinfo.label }}</label>
                        {{ registerinfo }}
                    </div>
                {% endif %}
            {% endfor %}

          <button type="submit" class="btn btn-primary">注册</button>
        </form>

    </div>

</body>
</html>